html {
    scroll-behavior: smooth;
}

body
{
    width: 100%;
    overflow-x: hidden;
}

p ,h1 ,h2 {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow: hidden;
}

.fifty {
    height: 70vh;
}

.gold {
    background-color:gold
}

.wine {
    background-color: orangered;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
}

.black {
    background-color: #101820FF;
}



/* navbar */
#navcontainer{
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    z-index: 2;
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    margin-right: 30px;
    padding: 5px 0px;
    transition: linear 0.3s;
    transform: translateY(3px);
    border-bottom: 10px solid white ;
}

#navcontainer a:hover {
    border-bottom: 10px solid gold ;
    transform: translateY(-3px);
    transition: linear 0.3s;
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto; /*align list to right in hamburger menu*/
}



/* welcome pg*/
#hcontainer {
    height: 90vh;
}

#hcontainer .heroimgcontainer {
    background-image: url(images/friends.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#herotitle h1 {
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    margin: 50px 0 0 20px;
    color:white;
}

#herotitle h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
    color: white;
    
}

#herotitle p {
    font-size: 16px;
    text-align: center;
    margin: 50px auto;
    padding: 0px 40px;
    color: white;
    max-width: 550px;
}

@media (max-width:1020px) {
    #herotitle p {
        font-size: 16px;
    }
}

#adoptbtn h1, #midsection button h1{
    font-weight: 800;
    padding: 20px;
    margin:0;
    font-size: 25px;
    text-shadow: none;
    color:black;
}

#adoptbtn, #midsection button {
    background-color: gold;
    border: none;
    border-radius: 20px;
    transition: linear 0.5s;
    position: relative;
    top:20px;
    left:50%;
    transform: translateX(-50%);
}

#adoptbtn:hover, #midsection button:hover {
    top:10px;
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0px 10px 0 1px orange;
    transition: linear 0.5s;
}

#adoptbtn:active, #midsection button:active {
    background-color: gold;
    box-shadow: inset -5px -5px 3px rgba(255,255,255,0.5), inset 5px 5px 0px orange;
    transition-delay: 0.03s;
    
}




/* welcome page mobile */
#herom img, #midm img{
    width: 100%;
}

#herom, #midm {
    overflow: hidden;
    height: 100%;
    text-align: center;
    
}

#midm {
    background-color: #101820FF;
}


#herom button,#midm button {
    margin: 40px 0;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: gold;
    padding: 10px 15px;
    width: 250px;
   
}

#herom button h1, #midm button h1{
    font-size: 30px;
    color:black;
    margin:0;
}

#herom h1, #midm h1 {
    font-size: 30px;
    font-weight: 800;
    margin:20px 0 0 0;
}

#herom h2 {
    font-size: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
}

#herom p, #midm p {
    font-weight: 500;
    max-width: 500px;
    margin: 10px auto;
    padding: 0 20px;
}

#midm h1,#midm p {
    color: white;
}



/* midsection */
#midsection {
    height: 100vh;
}

#midsection .heroimgcontainer {
    background-image: url(images/adventures.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



/* adopt pg */

@media(max-width:400px) {   

    #adoptmain p {
        font-size: 16px;
        text-align: justify;

    }

    #adoptmain h1 {
        font-size: 20px;
        text-align: justify;
    }

}

#catlogo, #doglogo, #heartlogo {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    animation-name: bobbing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

#heartlogo {
    animation-delay: 1s;
}

@keyframes bobbing {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-10px);
        box-shadow: 2.5px 8px rgba(255,255 ,255 , 0.075),
        -2.5px -2.5px 5px rgba(255,255,255,0.4);
        border: 1px black solid;
    }

    100%{
        transform: translateY(0px);
    }
}



#catlogo img {
    height: 50px;
    width: 50px;
}

#doglogo img{
    height: 50px;
    width: 125px;
}

#heartlogo img {
    width: 70px;
    height: 50px;
}


/* adoption cards */
.nmcard {
    height: 500px;
    width: 300px;
    margin: 50px 0;
    border-radius: 30px;
    box-shadow: 3px 7px 7px 0px rgba(0,0,0, 0.2),
    -1px 0px 5px 1px rgba(0,0,0, 0.2);
    background-image:  linear-gradient(45deg, #293542 0%, rgba(0,0,0,0.8) 100%);
    animation-name: hoverout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
    
}

.nmcard:hover {
    animation-name: hoverscale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes hoverscale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes hoverout{
    0% {
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.nmtop {
    height: 250px;
    
}

.nmtop img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.nmbtm {
    height: 200px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.nmbtm ul {
    list-style-type: none;
}

.nmname {
    height: 65px;
    width: 150px;
    background-color: gold;
    position: relative;
    bottom: 5%;

}

.nmname h1 {
    font-weight: 800;
    
}

/* heroimg & form */
#contactus{
    height: 100vh;
}
#contactpgleft{
    background-image: url(images/polygoncatwhite2.png);
    background-size: cover;
    background-position-x: 200px;
    background-repeat: no-repeat;
}

.panelleft,.panelright {
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2),
    -5px -5px 10px rgba(0,0,0, 0.2);
}


#header1 {
    font-size: 16px;
    text-align: center;
}

#cform {
    background-color: gold;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 20px 0px;
    width: 350px;
    height: auto;
    transition: 0.5s ease-in-out; 
    font-size: 16px;
}

#cform:hover {
    box-shadow: 10px 10px orange;
    transition: 0.5s ease-in-out;
    transform: translateY(-5px);
} 

#cform input {
    width: 90%;
}

#cform textarea {
    width: 90%;
}

#submitbtn {
    background-color: orange;
    font-family: 'Heebo', sans-serif !important;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 15px;
    border:none;
    box-shadow: 3px 3px orangered;
}


/* stories */

#stories a{
    text-decoration: none;
}

.storytile  {
    height: 600px;
    width: 320px;
    transition: 0.5s ease-in-out;
    background-color: black;
    overflow: hidden;
}


.storytile img {
    position: relative;
    right:135px;
    bottom: 200px;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}


@media (min-width: 1149.5px) {
    .storytile:hover {
        width: 500px;
        transition: 0.5s ease-in-out;
    }
    
    .storytile img:hover {
        transition: 0.5s ease-in-out;
        opacity: 0.8;
        
    }

    .storytile:hover h1 {
        width: 500px;
        transition: 0.5s ease-in-out;
    }
    
}

.storytile h1 {
    position: relative;
    top:-550px;
    color: white;
    width: 300px; /*fix image moving up*/
    font-weight: 800;
    padding-left: 30px;
    
}

/* footer */
#hotline {
    display: inline-block;
}

footer {
    background-color: #101820FF;
}

footer a {
    text-decoration: none;
    color:gold;
}

footer a:hover {
    text-decoration: none;
    color:gold;
}

footer form {
    border-radius: 15px;
    width: 380px;
    height: auto;
    margin-bottom: 50px;
    padding:0;
}

footer input {
    width:200px;
    margin: 10px 10px 25px 10px;
}

footer button {
    border-radius: 5px;
    background-color: gold;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    width: 140px;
    padding:0px 10px;
    border: none;
    font-size: 25px;
    display: block;
    margin-left:10px;
    transition: ease-in-out 0.5s;
}

footer button:hover {
    box-shadow: 0px 15px 0 1px orange;
    transition: ease-in-out 0.5s;
    transform: translateY(-10px);
}

footer i, footer p, footer h1 {
    color: white;
    font-size: 20px;;
}

footer i {
    transition: ease-in-out 0.5s;
    padding: 20px;
}

footer i:hover {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


/* for small devices */
@media (max-width: 991.5px) {
    footer form {
        width: 360px;
    }

    footer i {
        margin: -15px auto 0 auto;
        padding:10px auto;
        font-size: 22px;
    }

    .storytile {
        margin: 10px 0;
    }
   
}


@media (max-width: 767.5px) {

    #navcontainer{
        width: 100%;
    }


} 