body
{
    width: 100%;
    overflow-x: hidden;
    

}

p {
    font-family: 'Heebo', sans-serif;
    color: black;
}

h1 {
    font-family: 'Heebo' , sans-serif;
    color:black;
}

/* =====welcome pg===== */
.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

#heroimg {
    width: 47%;
    
}
    
#herotxt1 {
    position: absolute;
    bottom: 43%;
    left:31.3%;
    font-size: 7vw;
    font-weight: 800;
}

    
#herotxt2 {
    position: absolute;
    bottom: 30%;
    left:47%;
    font-size: 7vw;
    font-weight: 800;
}

#heroimgcontainer{
    height: 100%;
}

#adoptbtn h1{
    font-weight: 800;
    margin: 25px;
    font-size: 3vw;
}

#adoptbtn {
    background-color: gold;
    box-shadow: orange 20px 20px;
    border-radius: 20px;
    border: none;
    width: 68%;
}

#welcometxt {
    position: absolute;
    top: 80%;
    left: 40%;
}