body
{
    width: 100%;
    overflow-x: hidden;
    

}

p {
    font-family: 'Heebo', sans-serif;
    color: black;
}

h1 {
    font-family: 'Heebo' , sans-serif;
    color:black;
}


.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.thirty {
    height: 50vh;
}

.gold {
    background-color: gold;
}

.wine {
    background-color: orangered;
}

.blue {
    background-color: blue;
}



/* navbar */
#navcontainer{
    background-color: white;
    width: 100%;

}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
    transition: linear 0.5s;
    transform: translateY(3px);
}

#navcontainer a:hover {
    background-color: gold;
    transform: translateY(-3px);
    transition: linear 0.5s;
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto; /*align list to right in hamburger menu*/
}



/* welcome pg*/
#heroimg {
    width: 47.2%;
}
    
#herotxt1 {
    position: absolute;
    bottom: 45%;
    left:31.5%;
    font-size: 7vw;
    font-weight: 800;
}

#herotxt2 {
    position: absolute;
    bottom: 33%;
    left:47%;
    font-size: 7vw;
    font-weight: 800;
}

#heroimgcontainer{
    height: 100%;
    position: relative;
}

#adoptbtn h1{
    font-weight: 800;
    padding: 20px;
    font-size: 2.5vw;
}

#adoptbtn {
    background-color: gold;
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 20px;
    transition: linear 0.5s;
    transform: translateY(10px);
}

#adoptbtn:hover {
    box-shadow: 0px 10px  orange,
  -5px -5px 5px rgba(255,255,255,0.5);
    transform: translateY(-10px);
    transition: linear 0.5s;
}

#adoptbtn:active {
    background-color: gold;
    box-shadow: inset -5px -5px 3px rgba(255,255,255,0.5), inset 5px 5px 0px orange;
    transition-delay: 0.03s;
    
}

#welcometxt {
    position: absolute;
    top: 65%;
    left: 48%;
    width: 60%;
    font-size: 1.8vw;
}

#spotlight {
    text-align: center;
    font-weight: 600;
}

/* adopt pg */

#heroimgad {
    width: 40%;
}
    
#herotxt1ad {
    position: absolute;
    bottom: 55%;
    left:45%;
    font-size: 7vw;
    font-weight: 800;
    border-bottom: 15px solid gold;
}

#heroimgcontainerad{
    height: 550px;
    position: relative;
    overflow-y: hidden;
}

#welcometxtad {
    position: absolute;
    top: 55%;
    left: 45%;
    width: 50%;
    font-size: 1.5vw;
}


/* adoption cards */
.nmcard {
    height: 500px;
    width: 300px;
    margin: 50px 0;
    border-radius: 30px;
    box-shadow: 3px 7px 7px 0px rgba(0,0,0, 0.2),
    -1px 0px 5px 1px rgba(0,0,0, 0.2);
    background-image:  linear-gradient(45deg, #293542 0%, rgba(0,0,0,0.8) 100%);
    animation-name: hoverout;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; 
    
}

.nmcard:hover {
    animation-name: hoverscale;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}


@keyframes hoverscale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes hoverout{
    0% {
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.nmtop {
    height: 250px;
    
}

.nmtop img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.nmbtm {
    height: 200px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.nmbtm ul {
    list-style-type: none;
}

.nmname {
    height: 65px;
    width: 150px;
    background-color: gold;
    position: relative;
    bottom: 5%;

}

.nmname h1 {
    font-weight: 800;
}

/* heroimg & form */

#keyboard {
    width: 100%;
}

#header1 {
    font-size: 20px;
}

form {
    background-color: gold;
    box-shadow: 10px 10px orange;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    width: 400px;
}

form input {
    width: 80%;
}

form textarea {
    width: 80%;
}

#submitbtn {
    background-color: orange;
    font-family: 'Heebo', sans-serif !important;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 15px;
    border:none;
    box-shadow: 3px 3px orangered;
}


/* stories */
.storytile  {
    height: 80vh;
    width: 300px;
    transition: 0.5s ease-in-out;
    background-color: black;
    overflow: hidden;
}


.storytile:hover {
    width: 500px;
    transition: 0.5s ease-in-out;
}


.storytile img:hover {
    transition: 0.5s ease-in-out;
    opacity: 0.8;
    
}

.storytile img {
    position: relative;
    right:20%;
    bottom: 50%;
    transition: 0.5s ease-in-out;
    opacity: 0.5;
}


.storytile h1 {
    position: relative; /*required for z-index usage */
    top:80%;
    left:50%;
    transform: translateX(-50%);
    color: white;
    width: 280px; /*fix image moving up*/
    font-weight: 800;
    padding-left: 30px;
    z-index: 2;
}

/* footer */
footer {
    background-color: gold;
}

footer form {
    background-color: gold;
    box-shadow: 10px 10px gold;
    border-radius: 15px;
    width: 3800px;
    height: 10px;
    margin-bottom: 50px;
    padding:0;
    
}

footer input {
    width:200px;
    margin-right: auto;
}

footer button {
    border-radius: 5px;
    background-color: gold;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    width: 140px;
    padding:0px 10px;
    border: none;
    font-size: 25px;
    display: inline-block;
    margin-left:10px;
    transition: ease-in-out 0.5s;
}

footer button:hover {
    box-shadow: 0px 15px 0 2px orange;
    transition: ease-in-out 0.5s;
    transform: translateY(-10px);
}

footer i, footer p {
    color: color;
    font-size: 30px;;
}

footer i {
    margin-right: 20px;
    transition: ease-in-out 0.5s;
    padding: 20px;
}

footer i:hover {
    box-shadow: 0px 15px 0 2px orange;
    transition: ease-in-out 0.5s;
    transform: translateY(-10px);
}

/* for med size */

@media (min-width: 767.5px) and (max-width: 991.5px) {
    
    #navcontainer{
        width: 100%;
    }

    #heroimgad {
        height: 100%;
        width: auto;
    }
        
    #herotxt1ad {
        position: absolute;
        bottom:50%;
        left:400px;
        font-size: 7vw;
        font-weight: 800;
    }
    
    #heroimgcontainerad{
        height: 400px;
        overflow: hidden;
        position: relative;
    }
    
    #welcometxtad {
        position: absolute;
        top: 55%;
        left: 400px;
        width: 40%;
        font-size: 1.8vw;
    }

} 

/* for small devices */
@media (max-width: 991.5px) {
    
    #keyboard {
        position: absolute;
        opacity: 0.3;
        width: 100%;
    }
   
}


@media (max-width: 767.5px) {
    #herotxt1 {
        left: 29%;
        font-size: 12vw;
    }

    #herotxt2 {
        top:50%;
        left: 47.3%;
        font-size: 12vw;
    }

    #adoptbtn {
        max-width: 250px;
        height: 90%;
    }

    #adoptbtn h1{
        font-weight: 800;
        font-size: 25px;
    }


    #navcontainer{
        width: 100%;
    }

    #heroimgad {
        display: none;
    }
        
    #herotxt1ad {
        position: static;
        padding: 15px 0 0 15px;
        font-size: 50px;
        font-weight: 800;
    }
    
    #heroimgcontainerad{
        height: 100%;
    }

} 