body
{
    width: 100%;
    overflow-x: hidden;
}

p {
    font-family: 'Heebo', sans-serif;
    color: black;
}

h1 {
    font-family: 'Heebo' , sans-serif;
    color:black;
}

.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

/* adoption pg */

.nmcard {
    height: 500px;
    width: 300px;
    border-radius: 30px;
    border: 0px black solid;
    box-shadow: 3px 7px 7px 0px rgba(0,0,0, 0.2),
    -3px 0px 5px 1px rgba(0,0,0, 0.2);
}






/* navbar */
#navcontainer{
    position: fixed;
    z-index: 1;
    background-color: white;
    right: 0;
    width: 100%;
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
}

#navcontainer a:hover {
    /* border: 3px black solid; */
    background-color: rgba(255,215,0, 0.7)
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

@media (max-width: 767.5px) {
    
    #navcontainer{
        width: 100%;
    }

} 