body
{
    width: 100%;
    overflow-x: hidden;
}

p, h1 {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.thirty {
    height: 30vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

/* adoption pg */

.nmcard {
    height: 500px;
    width: 300px;
    border-radius: 30px;
    border: 0px black solid;
    box-shadow: 3px 7px 7px 0px rgba(0,0,0, 0.2),
    -1px 0px 5px 1px rgba(0,0,0, 0.2);
    background-image:  linear-gradient(45deg, #293542 0%, rgba(0,0,0,0.8) 100%); 
}

.nmtop {
    height: 250px;
    
}

.nmtop img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.nmbtm {
    height: 200px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.nmbtm ul {
    list-style-type: none;
}

.nmname {
    height: 65px;
    width: 150px;
    background-color: gold;
    position: relative;
    bottom: 5%;

}

.nmname h1 {
    font-weight: 800;
}


/* navbar */
#navcontainer{
    background-color: white;
    right: 0;
    width: 100%;
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
}

#navcontainer a:hover {
    /* border: 3px black solid; */
    background-color: rgba(255,215,0, 0.7)
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

@media (max-width: 767.5px) {
    
    #navcontainer{
        width: 100%;
    }


} 