body
{
    width: 100%;
    overflow-x: hidden;
}

p, h1 {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.thirty {
    height: 30vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

/* welcome pg */
#heroimg {
    width: 40%;
}
    
#herotxt1 {
    position: absolute;
    bottom: 55%;
    left:45%;
    font-size: 7vw;
    font-weight: 800;
    border-bottom: 15px solid gold;
}


#heroimgcontainer{
    height: 550px;
    position: relative;
    overflow-y: hidden;
}

#welcometxt {
    position: absolute;
    top: 55%;
    left: 45%;
    width: 50%;
    font-size: 1.5vw;
}


/* adoption pg */

.nmcard {
    height: 500px;
    width: 300px;
    margin: 50px 0;
    border-radius: 30px;
    border: 0px black solid;
    box-shadow: 3px 7px 7px 0px rgba(0,0,0, 0.2),
    -1px 0px 5px 1px rgba(0,0,0, 0.2);
    background-image:  linear-gradient(45deg, #293542 0%, rgba(0,0,0,0.8) 100%); 
}

.nmtop {
    height: 250px;
    
}

.nmtop img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.nmbtm {
    height: 200px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}

.nmbtm ul {
    list-style-type: none;
}

.nmname {
    height: 65px;
    width: 150px;
    background-color: gold;
    position: relative;
    bottom: 5%;

}

.nmname h1 {
    font-weight: 800;
}


/* navbar */
#navcontainer{
    background-color: white;
    right: 0;
    width: 100%;
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
}

#navcontainer a:hover {
    /* border: 3px black solid; */
    background-color: rgba(255,215,0, 0.7)
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

/* for smartphones */
@media (max-width: 767.5px) {
    
    #navcontainer{
        width: 100%;
    }

    #heroimg {
        display: none;
    }
        
    #herotxt1 {
        position: static;
        padding: 15px 0 0 15px;
        font-size: 50px;
        font-weight: 800;
    }
    
    #heroimgcontainer{
        height: 100%;
    }
    

} 

/* for ipads */
@media (min-width: 767.5px) and (max-width: 991.5px) {
    
    #navcontainer{
        width: 100%;
    }


    #heroimg {
        height: 100%;
        width: auto;
    }
        
    #herotxt1 {
        position: absolute;
        bottom:50%;
        left:400px;
        font-size: 7vw;
        font-weight: 800;
    }
    
    #heroimgcontainer{
        height: 400px;
        overflow: hidden;
        position: relative;
    }
    
    #welcometxt {
        position: absolute;
        top: 55%;
        left: 400px;
        width: 40%;
        font-size: 1.8vw;
    }

} 