body
{
    width: 100%;
    overflow-x: hidden;
}

p, h1 {
    font-family: 'Heebo', sans-serif;
    color: black;
}

.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.thirty {
    height: 30vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

/* navbar */
#navcontainer{
    background-color: white;
    right: 0;
    width: 100%;
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
    transition: 1s;
}

#navcontainer a:hover {
    border-right: orange 5px solid;
    border-left: 5px orange solid;
    background-color: gold;
    transition: 0.5s;
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

/* heroimg & form */

#keyboard {
    width: 100%;
}

#header1 {
    font-size: 20px;
}

form {
    background-color: gold;
    box-shadow: 10px 10px orange;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}

#submitbtn {
    background-color: orange;
    font-family: 'Heebo', sans-serif !important;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    border-radius: 15px;
    padding: 10px 15px;
    border:none;
    box-shadow: 3px 3px orangered;
}



@media (max-width: 991.5px) {
    
    #keyboard {
        position: absolute;
        opacity: 0.3;
        width: 100%;
    }
   
}