body
{
    width: 100%;
    overflow-x: hidden;
    

}

p {
    font-family: 'Heebo', sans-serif;
    color: black;
}

h1 {
    font-family: 'Heebo' , sans-serif;
    color:black;
}

/* =====welcome pg===== */
.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

#heroimg {
    width: 47.2%;
    
    
}
    
#herotxt1 {
    position: absolute;
    bottom: 45%;
    left:31.5%;
    font-size: 7vw;
    font-weight: 800;
}

    
#herotxt2 {
    position: absolute;
    bottom: 33%;
    left:47%;
    font-size: 7vw;
    font-weight: 800;
}

#heroimgcontainer{
    height: 100%;
    position: relative;
}

#adoptbtn h1{
    font-weight: 800;
    padding: 20px;
    font-size: 2.5vw;
    
}

#adoptbtn {
    background-color: gold;
    box-shadow: 0px 10px  orange,
  -5px -5px 5px rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255, 0.2);
    border-radius: 20px;
    
    
   
}

#adoptbtn:active {
    background-color: gold;
    box-shadow: inset -5px -5px 3px rgba(255,255,255,0.5), inset 5px 5px 0px orange;
    transition-delay: 0.03s;
    
  }

#welcometxt {
    position: absolute;
    top: 65%;
    left: 48%;
    width: 60%;
    font-size: 1.8vw;
}
/* navbar */
#navcontainer{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 64.5%;
    right: 0;
    
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
}

#navcontainer a:hover {
    border-right: 5px orange solid;
    background-color: gold;
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

@media (max-width: 767.5px) {
    #herotxt1 {
        left: 29%;
        font-size: 12vw;
    }

    #herotxt2 {
        top:50%;
        left: 47.3%;
        font-size: 12vw;
    }

    #adoptbtn {
        max-width: 250px;
        height: 90%;
    }

    #adoptbtn h1{
        font-weight: 800;
        font-size: 25px;
    }

    #navcontainer{
        width: 52.8%;
    }

} 