body
{
    width: 100%;
    overflow-x: hidden;
    

}

p {
    font-family: 'Heebo', sans-serif;
    color: black;
}

h1 {
    font-family: 'Heebo' , sans-serif;
    color:black;
}

/* =====welcome pg===== */
.gbor {
    border: 5px solid gold;
}

.hundred {
    height: 100vh;
    overflow-y: hidden;
    width: 100vh;
}

.white {
    color: white;
}

#heroimg {
    width: 47.2%;
    
    
}
    
#herotxt1 {
    position: absolute;
    bottom: 45%;
    left:31.5%;
    font-size: 7vw;
    font-weight: 800;
}

    
#herotxt2 {
    position: absolute;
    bottom: 33%;
    left:47%;
    font-size: 7vw;
    font-weight: 800;
}

#heroimgcontainer{
    height: 100%;
    position: relative;
}

#adoptbtn h1{
    font-weight: 800;
    padding: 20px;
    font-size: 2.5vw;
    
}

#adoptbtn {
    background-color: gold;
    box-shadow: orange 20px 20px;
    border-radius: 20px;
    border: none;
    
   
}

#welcometxt {
    position: absolute;
    top: 65%;
    left: 48%;
    width: 60%;
    font-size: 1.8vw;
}
/* navbar */
#navcontainer{
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 64.5%;
    right: 0;
    
}

#navcontainer a {
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 22px;
    padding: 5px 15px;
}

#navcontainer a:hover {
    /* border: 3px black solid; */
    background-color: rgba(255,215,0, 0.7)
}

.navbar-toggler {
    border: none !important;
}

#navbarTogglerDemo02 li {
    margin-left: auto;
}

@media (max-width: 767.5px) {
    #herotxt1 {
        left: 29%;
        font-size: 12vw;
    }

    #herotxt2 {
        top:50%;
        left: 47.3%;
        font-size: 12vw;
    }

    #adoptbtn {
        max-width: 250px;
        height: 90%;
    }

    #adoptbtn h1{
        font-weight: 800;
        font-size: 25px;
    }

    #navcontainer{
        width: 52.8%;
    }

} 